section(class="him")
    div(class="container him__container")
        div(class="layout him__layout")
            h2(class="title title--md him__title") NEW ARRIVALS FOR HIM
            ul(class="list-reset him__list list-him")
                each item in himList
                    li(class="list-him__item")
                        div(class="card")
                            div(class="card__img-wrap")
                                img(class="card__img" src=`assets/img/him/${item.imgName}@1x.jpg` srcset=`assets/img/him/${item.imgName}@2x.jpg 2x, assets/img/him/${item.imgName}@1x.jpg 1x`  alt=item.imgAlt style="max-width: 100%;")
                            div(class="card__info info-card")
                                span(class="info-card__colors")= item.colors
                                a(class="link info-card__link" href=item.aHref)= item.aInnerHTML